*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    /* this is a dynamic height cuz 70% of view height ie 70% of our page is always available for our container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    /*search: vmin mdm*/
    /*vmin is 1% of the viewport's smaller dimension, so it will adapt to both width and height changes.*/  
    /* ie we are giving 60% of our height */
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    /* our height id 60% and we hv to divide it into 3lines ie every line is 20%~=18%*/
    width: 18vmin;
    /* giving same width for all boxes */
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;

}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}
/* this class is used to hide the message container when the game is not over */